*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-size: 400;
    color: #606060;
}
.header{
    width: 100%;
    height: 90vh;
    background-image:linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3)), url('../images/desk-1140699.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 77%,50% 100%,0 75%,0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    opacity: .4%;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    opacity: .4%;
    z-index: -1;    
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.nav-item a{
    color: #fff!important;
    font-weight: bold;
}
.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.header-buttons a{
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 400;
    font-size: 1rem;
    color: #fff;
    line-height: 1.6;
    text-align: center;
    transition: all .8s ease;
    
}
.header-buttons a:hover{
    color: #50d1c0;
    background-color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(50, 59, 145, 0.507);
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20 0;
    line-height:1.6 ;
    color: #fff;
    margin-bottom: 1.8rem;
    letter-spacing: 1px;
}
.pricing{
    width: 100%;
    height: 100vh;
    padding: 50px;
    position: relative;
}


nav.navbar:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    background-color:linear-gradient(0,0,0,0.3);
    z-index: -25;
    opacity: 0.2;
}
.center-div h1{
    letter-spacing: 3px;
}
.navbar ul li:hover{
    width: 100%;
    height: 100%;
    background-color:skyblue;
    padding: 5px auto;
    z-index: 2;
    border-radius: 5px;
}
.header-extradiv{
    width: 100%;
    height: auto;
    margin: 100px auto;
    text-align: center;
}
.EXTRA-DIV{
    background-color: #FFFFFF;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
.EXTRA-DIV h2, .servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    word-spacing: 4px;
    line-height: 1.1;
}
.EXTRA-DIV:hover{
    box-shadow: 0 0 20px 0  rgba(0,0,0,0.3);
    transform: translateY(-20px);

}
.services-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress{
    height: 1rem!important;
    margin-bottom: 25px!important;
}
i{
    color: #2fccd0;
}
.serviceoffers{
background: #f7f7f9;
padding: 50px 0;
margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold
}

.project-work{
    margin: 100px 0px;

}
.project-work h1{
    font-size: 2rem;
    text-align: center;
}
.pricing{
    width: 100%;
    height: 90vh;
    padding: 50px;
    position: relative;
}
.pricing:before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    /* opacity: .4%; */
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%, #fff 0%);
    /* background: linear-gradient(160deg, #16c9f6 55%, #57b0c7 45% ); */
    /* max-height: 100vh; */
}
span{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff!important;
    padding: 25px 9!important;
}
.card-body{
    padding: 30px 0px!important;
}
.card-body li{
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
}
.card-footer{
    background: white!important;
    padding: 30px 0px!important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    font-size: 400;
    font-size: 1rem;
    color: #50d1c0;
    line-height: 1.6;
    text-align: center;
    transition: all .8s ease;
    
}
 .card:hover .card-footer a{
    color: #fff;
    background-color: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.card:hover .card-header, .card:hover span{
    color:#50d1c0 ;
}
.card-second{
    transform: translateY(-20px);
   

}

section.happy-clints{
    width: 100%;
    height: 100vh;
    padding: 80px 0px;
}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
    border: 2px;
    transition: all 0.3s ease;
}
.box:hover{
    background: #16c9f6;
}
.box:hover{
    color: white;
}

.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-top: 20px;
}
.box a:after{
    content: "\f10d";
    font-family: FontAwesome;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    position: absolute;
    top: 120%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box h1{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;

}
.box h2{
    font-size: 13px; 
    font-weight: 400px;
    color: #666666;
    margin-bottom: 20px;
}
/* @media(max-width:450px){
    .happy-clints{
        height: 100vh;
    }
} */
@media(max-width:550px){
}
    
.fa-bars{
    /* height: 60px;
    width: 60px; */
    color: white;
}
.navbar-toggler{
    outline: none!important;
}
.bg-mera{
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);}

    /* ....................................... */
    .center_div{
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .center_div a{
        height: 100px;
        width: 100px;
        background-color: #f5f6fa;
        border-radius: 50px;
        text-align: center;
        margin: 10px;
        line-height: 110px;
        box-shadow: 1px 4px 2px 2px #dcdde1;
    }
    .center_div a i{
        transition: all .3s ease;
    }
    .center_div a i:hover{
        transform: scale(1.4);
    }
    .fa-youtube{
        color: #e84118;
    }
    .fa-twitter{
        color: #0097e6;
    }
    .fa-linkedin{
        color: #0097e6;
    }
    .fa-instagram{
        color: #e84393;
    }
   
